<div class="cover-container-card mx-auto">
  <div class="my-2 text-left">
    <p class="text-light">About <strong>426</strong> results</p>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card text-dark">
        <img
          src="https://picsum.photos/100/100"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-left">
          <small
            class="card-text text-muted d-inline-block text-truncate"
            style="max-width: 210px;"
            >Daniel H. Nexon, Iver B. Relations International</small
          >
          <p class="card-title h7 my-0">
            Harry Potter and International Relations
          </p>
          <small class="text-muted">Published: 2006</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card text-dark">
        <img
          src="https://picsum.photos/100/100"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-left">
          <small
            class="card-text text-muted d-inline-block text-truncate"
            style="max-width: 210px;"
            >Daniel H. Nexon, Iver B. Relations International</small
          >
          <p class="card-title h7 my-0">
            Harry Potter and International Relations
          </p>
          <small class="text-muted">Published: 2006</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card text-dark">
        <img
          src="https://picsum.photos/100/100"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-left">
          <small
            class="card-text text-muted d-inline-block text-truncate"
            style="max-width: 210px;"
            >Daniel H. Nexon, Iver B. Relations International</small
          >
          <p class="card-title h7 my-0">
            Harry Potter and International Relations
          </p>
          <small class="text-muted">Published: 2006</small>
        </div>
      </div>
    </div>
  </div>
</div>
