<app-header></app-header>
<div class="container pt-5">
  <div class="row mb-5">
    <div class="col-12 col-md-6 my-auto">
      <div class="row">
        <div class="col-12">
          <p class="text-home-apresentation text-center text-md-left">
            Find the <span class="text-home-apresentation-blue">books</span> you
            are looking for anywhere
          </p>
        </div>
        <div class="col-12 text-center text-md-left">
          <p class="font-weight-light text-home-secondary">
            Search for books anywhere, you don't need to know the name of the
            book, if you know the name of the author or the publisher, just type
            and search.
          </p>
          <a
            href="/search"
            class="btn btn-primary btn-lg btn-home-apresentation"
            >Search now
            <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-auto d-none d-md-block">
      <div class="text-right">
        <img src="assets/svg/main-apresentation.svg" class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12 text-center">
      <p class="h3 text-uppercase py-4">The Importance of reading books</p>
    </div>
    <div class="col-12 col-md-6 my-auto">
      <p class="h5 text-uppercase pb-2">Reading practice improves vocabulary</p>
      <p class="font-weight-light text-home-secondary">
        Whether for pleasure, study or information, reading practice improves
        vocabulary and streamlines reasoning and interpretation.
      </p>
    </div>
    <div class="col-12 col-md-6 text-center text-md-right pt-3">
      <img src="assets/svg/home-1.svg" class="img-fluid" />
    </div>
    <div
      class="col-12 col-md-6 text-center text-md-left d-none d-md-block pt-3"
    >
      <img src="assets/svg/home-2.svg" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 my-auto text-right">
      <p class="h5 text-uppercase pb-2">advancing technology</p>
      <p class="font-weight-light text-home-secondary">
        With the advancement of technologies in the modern world, people are
        less and less interested in reading.
      </p>
    </div>
    <div class="col-12 col-md-6 my-auto">
      <p class="h5 text-uppercase pb-2">Dynamic reading</p>
      <p class="font-weight-light text-home-secondary">
        Dynamic and relaxed reading is one of the best ways to acquire
        information. The ideal is to learn to read informative texts, scientific
        articles, textbooks, educational books, etc.
      </p>
    </div>
    <div class="col-12 col-md-6 text-center text-md-right pt-3">
      <img src="assets/svg/home-3.svg" class="img-fluid" />
    </div>
  </div>
</div>
<div class="bg-home-blue mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pb-5">
        <p class="text-uppercase h3 my-5">
          All the books you look for in one place
        </p>
        <div class="d-none d-md-block pt-3">
          <img src="assets/svg/home-4.svg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <img src="assets/svg/home-5.svg" class="img-fluid mb-5" />
      <p class="font-weight-light text-home-secondary">
        Download samples in PDF or EPUB of your favorite books
      </p>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="assets/svg/home-6.svg" class="img-fluid mb-5" />
      <p class="font-weight-light text-home-secondary">
        Buy the books you're looking for from your phone or PC
      </p>
    </div>
    <div class="col-12 text-center pb-5">
      <p class="text-uppercase h3 my-5">
        The Technologies used
      </p>

      <img src="assets/svg/angular.svg" class="img-fluid mx-2" />
      <img src="assets/svg/nodejs.svg" class="img-fluid mx-2" />
      <img src="assets/svg/google.svg" class="img-fluid mx-2" />
    </div>
  </div>
</div>

<app-footer></app-footer>
