

      <main role="main" class="inner cover">
        <h1 class="cover-heading font-weight-bold">SEARCH BOOKS</h1>
        <p class="lead">Wellcome to Search books, find books by author name, subject or book title</p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Type author, book name . . .">
                      <div class="input-group-append">
                          <button class="btn btn-secondary" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
      </main>