<main role="main" class="inner cover cover-container mx-auto">
  <img src="assets/search_book_light_transparent.png" class="img-fluid" />
  <p class="lead font-weight-light font-italic text-center">
    Find the books you are looking for anywhere
  </p>

  <div class="input-group">
    <input
      type="text"
      class="form-control"
      #search
      placeholder="Type author, book name . . ."
    />
    <div class="input-group-append">
      <button
        class="btn btn-secondary"
        (click)="appListBooks.search(search.value)"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</main>

<div class="container my-4">
  <app-list-books #appListBooks></app-list-books>
</div>
