<!-- FOOTER -->
<footer class="bg-dark">
  <div class="container">
    <div class="row pt-2">
      <div class="col-12 col-md-4">
        <p class="text-center text-md-left text-logo">BookSure</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-center pt-3 text-light">
          © Copyright 2020 <a href="https://github.com/LuisFrag">LuisFrag</a>.
          All rights reserved.
        </p>
      </div>
      <div class="col-12 col-md-4 pt-2">
        <div class="text-center text-md-right">
          <fa-icon
            [icon]="faLinkedin"
            size="2x"
            class="text-light mx-2"
          ></fa-icon>
          <fa-icon [icon]="faGithub" size="2x" class="text-light"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</footer>
